@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-image: url('../picture/design.png');
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 150px;
    font-family: 'Courgette', cursive;
  
  }
  
  h1 {
    color: #333333;
    text-align: center;
    margin-top: 0;
  }
  
  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  
  /* Style the navigation bar */
  nav {
    background-color: #333;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  nav ul li {
    float: right;
  }
  
  nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Courgette', cursive;
  }
  
  nav ul li a:hover {
    background-color: #111;
  }

  /* Footer styles */
footer {
  background-color: #333;
  text-align: center;
  padding: 20px;
  margin-top: 150px;
}

footer p {
  margin: 0;
}

.footer-left,
.footer-right {
  width: 50%;
  float: left;
}

.footer-left h3,
.footer-right h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #25CCF7;
}

.footer-left p,
.footer-right p {
  color: white;
}

.clearfix {
  clear: both;
}

.footer-text2 {
  font-size: 10px;
  color: #ccc;
  margin-bottom: 10px;
}